h2 {
    text-align: center;
}

.card {
    margin: 3rem;
    padding: 1rem;
    background-color: #848484;
    border-radius: 5px;
    color: white;
}

.card-footer {
    display: flex;
    margin: 0 3rem;
    /* width: 100%; */
    justify-content: space-between;
}

.vote-section {
    display: flex;
    justify-content: space-between;
    width: 12rem;
}