package pages

templ CreateGroupForm() {
	<h1>Create Group</h1>
	<a href="/page/home">Back to Home</a>
	<section id="form-container" class="form-container">
		<form id="create-group-form" action="/page/create-group" method="POST">
			<section class="input-container">
				<input type="text" id="group-name-input" placeholder="Group Name" name="group-name"/>
			</section>
			<button class="button" type="submit">Create Group</button>
		</form>
	</section>
}
