package pages

templ CreateDeckPage(path string) {
    <body>
         <form id="create-deck-form" hx-swap="outerhtml" hx-post={path}>
            <section id="create-deck-section" >
                <label for="deck-name" id="deck-name-label">Deck Name: </label>
                <input id="deck-name" name="deck-name"/>
                <button type="submit">Create Deck</button>
            </section>
        </form>
        <a href="/page/home">Back to Home</a>
    </body>
}