package pages


templ DeckViewerPage(data DeckViewPageData){
    <section class="reptr-heading">
        <h2>{data.DeckName}</h2>
    </section>
    <section id="placeholder">
        @data.Content
    </section>
}