package pages


templ CardViewerPage(data CardViewPageData){
    <section class="flex flex-col justify-content align-center w-3/4 h-26 sm:w-2/3">
        <h2>{data.DeckName}</h2>
        <section id="placeholder">
            @data.Content
        </section>
    </section>
}