package pages

templ DeckViewerPage(data DeckViewPageData) {
	<section class="reptr-heading">
		<h2>{ data.DeckName }</h2>
	</section>
	<section id="placeholder">
		<a class="home-link" href="/page/home">Back to Home</a>
		@data.Content
	</section>
}
