package pages

templ Page(content templ.Component, styles []string) {
    <html>
       <head>
            <script src="https://unpkg.com/htmx.org@1.9.10"></script>
            for _, style := range styles {
                <link rel="stylesheet" href={style}/>
            }
       </head>
       <body>
           <section class="flex h-screen flex-col justify-center padding bg-amber-200">
                @content
            </section>
       </body>
    </html>
}